body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
  background-color: #f5f5f5;
}

h1 {
  color: navy;
}

h2 {
  color: darkgreen;
  margin-top: 30px;
}

p, li {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}